<div class="form-group">
	
	
	<input type="file" id="default-file" name="images" hidden="hidden" />

	<!-- Button Markup -->
	<button id="custom-btn" type="button" class="prev_btn left">
	  CHOOSE FILE
	</button>

	<!-- Choose File TEXT Markup -->
	<span id="custom-space"> <strong> No</strong> File, Selected!</span>

	<!--PREVIEW -->
	<div class="preview_holder">
	  <div id="preview">
		<img src="" id="preview_img" class="preview_img" />
		<span id="preview_text" class="preview_text">Image Preview</span>
	  </div>
	</div>

 </div>












 // File Upload
 const sideFile = document.getElementById("sideupload_file");
 const sideBtn = document.getElementById("sideupload-btn");
 const sideSpace = document.getElementById("sidespace");
 sideBtn.addEventListener("click", function () {
   sideFile.click();
 });
 usideFile.addEventListener("change", function () {
   //  Format Selected File Text
   if (sideFile.value) {
	 sideSpace.innerHTML =
	   sideFile.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1] + "🔥";
   } else {
	 sideSpace.innerHTML = "No File, Selected!😭";
   }
 
   // Image Preview
   const sidemyfiles = sideFile.files[0]; //files[0] - For getting first file
   //   console.log(files);
 
   if (sidemyfiles) {
	 // Showing Image and Hiding "Image Preview" Text
	 preview_sideimg.style.display = "block";
	 preview_sidetext.style.display = "none";
	 //Read File
	 const sidemyfileReader = new FileReader();
 
	 sidemyfileReader.addEventListener("load", function () {
	   // convert image to base64 encoded string
	   preview_sideimg.setAttribute("src", this.result);
	   console.log(this.result);
	 });
	 myfileReader.readAsDataURL(sidemyfiles);
   }
 });