<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">   <title>Manage-Data</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <style>
        .profile_image{
            height: 200px;
            border-style: dotted;
            border-color: red;
        }
        </style>
</head>
<body>
    <div>
        <nav class="navbar  navbar-dark bg-dark"  style="background-color: #333; border-radius:0px">
            <a  href="/" class="logo">
                <img src="images/StopShop-360-logo-white-1.png" alt=" Logo" style="width:10%; ">
            </a>
          </nav>
            <a  class="btn btn-danger btn-md" href="/dashboard" style="margin-left:1%; margin-bottom:2%;"><i class="fas fa-long-arrow-alt-left"></i> back</a>
      <hr style="margin-top:0px">
    </div>
    