<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

  <!-- Mobile Menu -->
  <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

  <div class="mobile-menu-container">
      <div class="mobile-menu-wrapper">
          <span class="mobile-menu-close"><i class="icon-close"></i></span>
          
          <form action="#" method="get" class="mobile-search">
              <label for="mobile-search" class="sr-only">Search</label>
              <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
              <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
          </form>

          <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
              </li>
             <!--<li class="nav-item">
                  <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
              </li>--> 
          </ul>

          <div class="tab-content">
              <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                  <nav class="mobile-nav">
                      <ul class="mobile-menu">
                          <li class="active"> <a href="/">Home</a></li>
                          <li>
                              <a href="/booking">Booking</a>
                              <ul>
                                <li><a href="">Book a Hairdresser </a></li>
                                <li><a href="">Book a Barber </a></li>
                                <li><a href="">Book a Catering Service</a></li>
                                <li><a href="">Book a Cleaner  </a></li>
                                <li><a href="">Book a wedding planner </a></li>
                                <li><a href="">Book a tailor service </a></li>
                                <li><a href="">Book a photographer / photoshoot </a></li>
                              </ul>
                          </li>
                          <li>
                              <a href="/products" class="sf-with-ul">Sales</a>
                              <ul>
                                <li><a href="">Fashion Designers </a></li>
                                                <li><a href=""> Designer clothes/ bags</a></li>
                                               
                                                <li><a href="product-sticky.html"> Bridal dresses </a></li>
                                                <li><a href="product-sidebar.html">accessories & equipment </a></li>
                              </ul>
                          </li>
                      
                        
                          <li>
                              <a href="elements-list.html">Hiring</a>
                              <ul>
                                  <li><a href="elements-products.html">Products</a></li>
                                  <li><a href="elements-typography.html">Typography</a></li>
                                  <li><a href="elements-titles.html">Titles</a></li>
                                  <li><a href="elements-banners.html">Banners</a></li>
                                  <li><a href="elements-product-category.html">Product Category</a></li>
                                  <li><a href="elements-video-banners.html">Video Banners</a></li>
                                  <li><a href="elements-buttons.html">Buttons</a></li>
                                  <li><a href="elements-accordions.html">Accordions</a></li>
                                  <li><a href="elements-tabs.html">Tabs</a></li>
                                  <li><a href="elements-testimonials.html">Testimonials</a></li>
                                  <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                                  <li><a href="elements-portfolio.html">Portfolio</a></li>
                                  <li><a href="elements-cta.html">Call to Action</a></li>
                                  <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                              </ul>
                          </li>
                      </ul>
                  </nav><!-- End .mobile-nav -->
              </div><!-- .End .tab-pane -->
         
          </div><!-- End .tab-content -->

          <div class="social-icons">
              <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
              <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
              <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
              <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
          </div><!-- End .social-icons -->
      </div><!-- End .mobile-menu-wrapper -->
  </div><!-- End .mobile-menu-container -->



<footer class="footer">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <img src="/images/StopShop-360-logo-1.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

                        <div class="widget-call">
                            <i class="icon-phone"></i>
                            Got Question? Call us 24/7
                            <a href="tel:#">+0123 456 789</a>         
                        </div><!-- End .widget-call -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="about.html">About Molla</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">How to shop on Molla</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Money-back guarantee!</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="cart.html">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © Stopshop360. All Rights Reserved.</p><!-- End .footer-copyright -->
            <figure class="footer-payments">
                <img src="images/payments.png" alt="Payment methods" width="272" height="20">
            </figure><!-- End .footer-payments -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.plugin.min.js"></script>
<script src="js/shop.min.js"></script>
<script src="js/calendar.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- Main JS File -->
 <script src="js/main.js"></script>
 <script src="js/bannerAd.js"></script>
 <script>

 

 </script>
</body>
</html>
