<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
<footer class="footer">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <img src="images/demos/demo-3/logo-footer.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

                        <div class="widget-call">
                            <i class="icon-phone"></i>
                            Got Question? Call us 24/7
                            <a href="tel:#">+0123 456 789</a>         
                        </div><!-- End .widget-call -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="about.html">About Molla</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">How to shop on Molla</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Money-back guarantee!</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="cart.html">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
            <figure class="footer-payments">
                <img src="images/payments.png" alt="Payment methods" width="272" height="20">
            </figure><!-- End .footer-payments -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->

  <script src="js/jquery.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.plugin.min.js"></script>
<script src="js/shop.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- Main JS File -->
 <script src="js/main.js"></script>

<script>

$('#submit').on('submit', function(e){
e.preventDefault(); 
$.ajax({
    
    contentType: 'application/json',
    success: function(response) {
      alert(response.message);
      //return false
    }
});
return false; 
});

</script>

<script>

$('#registeration').submit(function(event){
    event.preventDefault();
   var email = $('#email').val();
   var password = $('#password').val();
   var firstname = $('#firstname').val();
   var lastname = $('#lastname').val();
   var phone = $('#phone').val();
   //var terms =$('input[name="terms"]:checked').val();

   if(email=="" || password==""|| firstname==""||lastname==""||phone==""){
          $("#msgDiv").show().html("<div style='border-radius:4px' class='alert alert-danger'>All fields must be filled</div>");
          
   }
   else{
        //window.location.href = "/userdashboard";
        $.ajax({

            url: "api/users/register",
            method: "POST",
            data:{
               email:email,
                password:password,
                firstname:firstname,
                lastname:lastname,
                phone:phone

            },success:(function(data){
               if(data.message=="success"){
                window.location.href = "/Email_verification";
               
               }
               else{
                $("#msgDiv").show().html("<div style='border-radius:4px' class='alert alert-success'>Error</div>");
               }
               

        })

        });
   }

});

$('#letgo').submit(function(event){
    event.preventDefault();
    var code_verify =$('#verification_code').val();
    if(code_verify == ""){

        $('#msg').show().html("<div style='border-radius:4px' id='alert-danger' class='alert alert-danger'>field is empty </div>");
    }
    else{
             
         $.ajax({

            type:"GET",
            url: "/api/users/verification/",
            data:{
                   verification_code:code_verify
            },
            success:function(data){

                if(data.status==200){
                    console.log("status:"+data.status+'\n'+"Verification Code: "+data.verification_code+'\n'+"Email: "+data.Email)
                    window.location.href = "/dashboard";
                }
                else if(data.status==400){

                    $('#msg').show().html("<div style='border-radius:4px' id='alert-danger' class='alert alert-danger'>Code is incorrect </div>");
                }
                else{

                    alert(data.message)
                }
            }
         });
    }
});


$('#signin').submit(function(event){
    event.preventDefault();
    var getmail=$('#email').val();
    var getpass=$('#password').val();
    if(getmail== "" || getpass == ""){

        $('#getmsg').show().html("<div style='border-radius:4px' id='alert-danger' class='alert alert-danger'>field is empty </div>");
    }
    else{
             
         $.ajax({

            type:"GET",
            url: "/api/users/login",
            data:{
                   email:getmail,
                   password:getpass
            },
            success:function(data){

                if(data.status==200){
                    console.log("status:"+data.status+'\n'+"Email: "+data.Email)
                    window.location.href = "/dashboard";
    
                   
                }
                else if(data.status==404){

                    $('#getmsg').show().html("<div style='border-radius:4px' id='alert-danger' class='alert alert-danger'>login details does not match </div>");
                }
                else{

                    alert(data.message)
                }
            }
         });
    }
});


$('#forgot_email').submit(function(event){
    event.preventDefault();
    var email_forgot =$('#email_forgot').val();
    if(email_forgot == ""){

        $('#msg').show().html("<div style='border-radius:4px' id='alert-danger' class='alert alert-danger'> email field is empty </div>");
    }
    else{
             
        window.location.href = "/change_password";
        /* $.ajax({

            type:"GET",
            url: "/api/users/verification/",
            data:{
                   verification_code:code_verify
            },
            success:function(data){

                if(data.status==200){
                    console.log("status:"+data.status+'\n'+"Verification Code: "+data.verification_code+'\n'+"Email: "+data.Email)
                    window.location.href = "/dashboard";
                }
                else if(data.status==400){

                    $('#msg').show().html("<div style='border-radius:4px' id='alert-danger' class='alert alert-danger'>Code is incorrect </div>");
                }
                else{

                    alert(data.message)
                }
            }
         });*/
    }
});


$('#changepass').submit(function(event){
    event.preventDefault();
    var changepassword=$('#change_password').val();
    if(changepassword == ""){

        $('#msg').show().html("<div style='border-radius:4px' id='alert-danger' class='alert alert-danger'> password  field is empty </div>");
    }
    else{
             
        window.location.href = "/dashboard";
        /* $.ajax({

            type:"GET",
            url: "/api/users/verification/",
            data:{
                   verification_code:code_verify
            },
            success:function(data){

                if(data.status==200){
                    console.log("status:"+data.status+'\n'+"Verification Code: "+data.verification_code+'\n'+"Email: "+data.Email)
                    window.location.href = "/dashboard";
                }
                else if(data.status==400){

                    $('#msg').show().html("<div style='border-radius:4px' id='alert-danger' class='alert alert-danger'>Code is incorrect </div>");
                }
                else{

                    alert(data.message)
                }
            }
         });*/
    }
});
</script>
</body>
</html>
