<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    

<!-- Plugins JS File -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery.hoverIntent.min.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/superfish.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="/js/main.js"></script>
<script src="/js/fileupload.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/dist/js/bootstrap-select.js"></script>
<script>

$(document).ready(function() {
  // bind change event handler
  $('#category').change(function() {
    // update disabled property
    $("#location").prop('disabled', this.value == "Select Category");
    // trigger change event to set initial value
  }).change();
});
</script>


</body>


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
</html>