/***
Bootstrap4 Card with Tabs by @mdeuerlein
***/
@import url("");
@import url("");
:root {
  --dark: #2b2d42;
  --light: #abd5bd;
  --border: #dee2eb;
  --border-btn: #edf2f4;
  --yellow: #fcb941;
  --blue: #007bff;
  --red: red;
}

.card {
  background-color: #ffffff;
  border: 1px solid rgba(0, 34, 51, 0.1);
  box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05),
    2px 4px 10px 0 rgba(0, 34, 51, 0.05);
  border-radius: 0.15rem;
}

/* Tabs Card */

.tab-card {
  border: 1px solid #eee;
}

.tab-card-header {
  background: none;
}
/* Default mode */
.tab-card-header > .nav-tabs {
  border: none;
  margin: 0px;
}
.tab-card-header > .nav-tabs > li {
  margin-right: 2px;
}
.tab-card-header > .nav-tabs > li > a {
  border: 0;
  border-bottom: 2px solid transparent;
  margin-right: 0;
  color: #737373;
  padding: 2px 15px;
}

.tab-card-header > .nav-tabs > li > a.show {
  border-bottom: 2px solid #007bff;
  color: #007bff;
}
.tab-card-header > .nav-tabs > li > a:hover {
  color: #007bff;
}

.tab-card-header > .tab-content {
  padding-bottom: 0;
}
.medium {
  width: 100%;
  margin: auto;
}
.s {
  width: 70%;
  margin-left: 4%;
  height: 50px;
}
.sc {
  width: 100%;
  margin-left: 10%;
  height: 50px;
}
.left {
  margin-left: 2.5rem;
}
/* General Styling */

/* Button Styling */
.prev_btn {
  border: none;
  background-color: #333;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05),
    2px 4px 10px 0 rgba(0, 34, 51, 0.05);
}

.prev_btn:hover {
  opacity: 0.8;
  transition: all 500ms ease;
  color: white;
}
/* Span Text Styling */
#custom-space {
  color: rgba(245, 245, 245, 0.678);
  margin-left: 2%;
}

/* Container Styling */

/* Image Preview Styling */
.preview_holder {
  margin-top: 4%;
  display: flex;
  align-items: center;
  /*ustify-content: center;*/
  margin-left: 2.5rem;
  box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05),
    2px 4px 10px 0 rgba(0, 34, 51, 0.05);
  width: 20rem;
}
#preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  min-height: 10px;
  border: dotted red;
  color: red;
}
.preview_img {
  display: none;
  width: 100%;
  object-fit: cover;
}
.btn-center {
  margin-left: 25%;
  width: 50%;
  box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05),
    2px 4px 10px 0 rgba(0, 34, 51, 0.05);
  background-color: red;
  border-color: red;
  color: var(--border-btn);
}

.btn-center:hover {
  background-color: var(--red);
  border-color: var(--red);
  color: var(--border-btn);
}
.btn-center:visited {
  background-color: var(--yellow);
}
.font-arrow {
  color: var(--yellow);
}
.active {
  color: var(--red);
}
.focus {
  border-color: var(--yellow);
}
[include*="form-input-select()"] {
  display: block;
  padding: 0;
  position: relative;
  color: var(--dark);
  display: block;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  margin-top: 9px;
  margin-bottom: 15px;
  width: 100%;
}
[include*="form-input-select()"]::before,
[include*="form-input-select()"]::after {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
[include*="form-input-select()"] select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: 1px solid transparent;
  font-size: 16px;
  outline: none;
}
[include*="form-input-select()"] select:focus {
  background-color: transparent;
  outline: none;
}
[include*="form-input-select()"] option {
  font-weight: normal;
}
[include*="form-input-select()"] x:-o-prefocus,
[include*="form-input-select()"]::after {
  display: none;
}

[include*="form-input-select()"]::before,
[include*="form-input-select()"]::after {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  border: 1px solid transparent;
  width: 0;
  height: 0;
  right: 16px;
}
[include*="form-input-select()"]::before {
  bottom: 55%;
  border-width: 0 6.5px 8px 6.5px;
  border-bottom-color: #d6d6d6;
}
[include*="form-input-select()"]::after {
  border-width: 8px 6.5px 0 6.5px;
  border-top-color: #d6d6d6;
  top: 55%;
}

[include*="form-input-select()"]:hover select {
  box-shadow: var(--red);
  border-color: var(--red);
}
[include*="form-input-select()"]:hover select:focus {
  outline-color: transparent;
}
[include*="form-input-select()"]:hover::before {
  border-bottom-color: var(--red);
}
[include*="form-input-select()"]:hover::after {
  border-top-color: var(--red);
}
[include*="form-input-select()"] select {
  border: 3px solid #e6e6e6;
  border-radius: 0;
  font-weight: 400;
  color: inherit;
  padding: 11px 15px;
  line-height: normal;
  transition: border-color 0.2s ease, outline 0.2s ease;
}
[include*="form-input-select()"] select:focus {
  box-shadow: transparent inset;
  outline: 3px solid transparent;
  outline-offset: -3px;
  border: solid red;
}
[include*="form-input-select()"] select[disabled],
[include*="form-input-select()"] select:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
[include*="form-input-select()"] select:not(:focus):invalid {
  color: #c7c7c7;
}
.f {
  color: var(--dark);
}
.change:hover {
  background-color: red;
}
.hold_logo {
  width: 50%;
  height: 40px;
}
@media only screen and (max-width: 600px) {
  .s {
    width: 100%;
    margin-left: 0px;
    height: 50px;
  }
  .review_img {
    width: 100%;
  }
  .btn-center {
    width: 100%;
    margin: 0px;
  }
}
.circle {
  margin: auto;
  width: 12%;
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  border: solid 2px red;
  border-radius: 50%;
}
 .circle{
   margin:auto;
   width: 12%;
   text-align:center;
   font-size:medium;
   font-weight: bolder;
   border: solid 2px red;
   border-radius: 50%;
 }
 

h4 {
  color: #000;
  text-align: center;
  font-size: 2em;
}
.warpper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #000;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels {
  background: #fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height: 200px;
  width: 100%;
  max-width: 500px;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
}
.panel {
  display: none;
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.panel-title {
  font-size: 1.5em;
  font-weight: bold;
}
.radio {
  display: none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel {
  display: block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab {
  background: #fffffff6;
  color: #000;
  border-top: 3px solid #000;
}
