<%-include('../templates/header')%>
<body>
    <div class="page-wrapper">
        <main class="main">
        	
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" href="."><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/userdashboard">user</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
						<li class="breadcrumb-item active" aria-current="page" id="access_session"></li>
					
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link product_create" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Create Product</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Booking Services Upload</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Billing</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
								    </li>
									<% if (user.isAdmin) { %>

									<li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-category" role="tab" aria-controls="tab-category" aria-selected="false">Add Category</a>
								    </li>
									<li class="nav-item">
								        <a class="nav-link add_sub" id="tab-account-link" data-toggle="tab" href="#sub-category" role="tab" aria-controls="tab-subcategory" aria-selected="false">Add Sub-Category</a>
								    </li>
									<% } %>

								    <li class="nav-item">
								        <a style ="cursor:pointer"class="nav-link logout">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->
                              <!--SECTION TO SELL PRODUCT-->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	
                                       <!--PLACE FOR DASHBOARD-->
									   <div class="row">
										<div class="col-lg-6">
											<div class="card card-dashboard book">
												<div class="card-body">
													<h3 class="card-title">Bookings</h3><!-- End .card-title -->

													<p>All bookings made from potential clients<br>
												      <div class="circle">1</div>
												</div><!-- End .card-body -->
											</div><!-- End .card-dashboard -->
										</div><!-- End .col-lg-6 -->


										<div class="col-lg-6">
											<div class="card card-dashboard">
												<div class="card-body">
													<h3 class="card-title">Total Product Uploaded</h3><!-- End .card-title -->

													<p>All products created for users view<br>
														<div class="circle">1</div>
												</div><!-- End .card-body -->
											</div><!-- End .card-dashboard -->
										</div><!-- End .col-lg-6 -->
										<br>
										<h3 class="card-title">Uploaded Products</h3>
										<br>
										<br>
										<table class="table table-hover">
											<thead>
											  <tr>
												
												<th scope="col">ProductID</th>
												<th scope="col">Category</th>
												<th scope="col">Price</th>
												<th scope="col">Image</th>
											  </tr>
											</thead>
											<tbody>
											  <tr>
												<th scope="row">1</th>
												<td>Mark</td>
												<td>Otto</td>
												<td>@mdo</td>
											  </tr>
											  <tr>
												<th scope="row">2</th>
												<td>Jacob</td>
												<td>Thornton</td>
												<td>@fat</td>
											  </tr>
											  <tr>
												<th scope="row">3</th>
												<td colspan="2">Larry the Bird</td>
												<td>@twitter</td>
											  </tr>
											</tbody>
										  </table>

									   </div>

								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
								    	

										<form id="create_product" enctype="multipart/form-data">
											
											<div class="container">
												
												<div class="row">
												  <div class="col-md-8">
													<div class="card mt-3 tab-card">
													<div class="card-header tab-card-header">
														<div style="text-align:center"class="successMsg"></div>
														<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
														  <li class="nav-item" >
															  <a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true"><i class="fa fa-reply font-arrow" style="color:red" aria-hidden="true"></i>
															  </a>
														  </li>
														  <li class="nav-item">
															  <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false"><i class="fa fa-share" aria-hidden="true" style="color:red"></i>
															  </a>
														  </li>
														  
														</ul>
													  </div>
											  
													  <div class="tab-content" id="myTabContent">
														<div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
														 <!--FORM SHOULD BE HERE-->
														
													   <div class="medium">
	
														  <select class="form-select form-select-lg mb-2 col-sm-5 s" aria-label=".form-select-lg example" id="category" name="category">
															<option value="">Select Category</option>
														  </select>
														  
														  <select class="form-select form-select-lg  col-sm-5 s" aria-label=".form-select-lg example" id="location" name="location">
															<option selected>Select Location</option>
															<option value="1">London</option>
															<option value="2">West Midlands</option>
															<option value="3">Greater Manchester</option>
															<option value="3">West Yorkshire</option>
															<option value="3">Kent</option>
															<option value="3">Merseyside</option>
															<option value="3">Essex</option>
															<option value="3">south Yorkshire</option>
															<option value="3">Hampshire</option>
															<option value="3">Surrey</option>
															<option value="3">Tyne and Wear</option>
															<option value="3">Hertfordshire</option>
															<option value="3">Lancashire</option>
															<option value="3">Norttingharmshire</option>
															<option value="3">Cheshire</option>
															<option value="3">Staffordshire</option>
															<option value="3">Debyshire</option>
															<option value="3">Norfolk</option>
														  </select>
														  <h5 class="card-title left">Add Photo</h5>
														 <p class="card-text left">Add at least 1 photo for this category. </p>    
														 </div>
														  <!--file upload-->
														 <div class="form-group">
	
	
															<input type="file" id="default-file" name="images" hidden="hidden" />
	
															<!-- Button Markup -->
															<button id="custom-btn" type="button" class="prev_btn left">
															  CHOOSE FILE
															</button>
													  
															<!-- Choose File TEXT Markup -->
															<span id="custom-space"> <strong> No</strong> File, Selected!</span>
	  
															<!--PREVIEW -->
															<div class="preview_holder">
															  <div id="preview">
																<img src="" id="preview_img" class="preview_img" />
																<span id="preview_text" class="preview_text">Image Preview</span>
															  </div>
															</div>
	
														 </div>
	
	
														  <div class="form-group">
															
															<a data-toggle="tab" href="#two"  class="btn btn-secondry btn-round btn-center text-white">Next</a>  
	
														  </div>
	
														</div>
														<div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
															<div class="row">
																<div class="col-sm-6">
																	<label>title</label>
																	<input type="text" class=" form-control f" name="title" required style="color: black;">
																</div><!-- End .col-sm-6 -->
																
	
																<div class="col-sm-6">
																	<label>price #</label>
																	<input type="text" class="form-control" name="price" required tyle="color: black;">
																</div><!-- End .col-sm-6 -->
																	
															</div><!-- End .row -->
	
															
															
															<div class="row">
																<div class="col-sm-6">
																	<label>Type</label>
																	<div include="form-input-select()">
																		<select name="type" id="type">
																		</select>
																 </div>
																</div><!-- End .col-sm-6 -->
				
																<div class="col-sm-6">
																	<label>Brand</label>
																	<div include="form-input-select()">
																		<select required name="condition">
																		  <option value="" hidden>condition</option>
																		  <option value="Brand New">Brand New</option>
																		  <option value="Used">Used</option>
																		  <option value="Booking">Booking</option>
																		  
																		</select>
																 </div>
																</div><!-- End .col-sm-6 -->
															</div><!-- End .row -->
	
															<div class="row">
																<div class="col-sm-12">
																	<label>Product Description</label>
																	<textarea class="form-control rounded-0" name="description" id="exampleFormControlTextarea1" rows="5" tyle="color: black;"></textarea>
																</div><!-- End .col-sm-6 -->
															</div><!-- End .row -->
	
														
	
															
															<div class="row">
																<div class="col-sm-6">
																	<label>Phone Number *</label>
																	<input type="text" class="form-control" name="phone" value="<%= user.phone %>" readonly>
																</div>
																
																<div class="col-sm-6">
																	<label>Name</label>
																	<input type="text" class="form-control" name="name" value="<%= user.firstname  %>" readonly>
																</div>
																
																
															</div><!-- End .row -->
	
															<div class="col-sm-12">
																<label>Sales Type</label>
																<div include="form-input-select()">
																	<select required name="sales_type">
																	  <option value="" hidden>Sales Type</option>
																	  <option value="Brand New">Hiring</option>
																	  <option value="Used">Sales</option>
																	  <option value="Booking">Booking</option>
																	  
																	</select>
															 </div>
															</div><!-- End .col-sm-6 -->
														 
														  <button type="submit" class="btn btn-primary btn-round btn-center">Post AD</button>              
														</div>
														<div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
														  <h5 class="card-title">Tab Card Three</h5>
														  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
														  <a href="#" class="btn btn-primary">Go somewhere</a>              
														</div>
													  </div>
													</div>
												  </div>
												</div>
											  </div>
	
											</form>
	




								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
								    	<p>No downloads available yet.</p>
								    	<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
								    	<p>The following addresses will be used on the checkout page by default.</p>

								    	<div class="row">
								    		<div class="col-lg-6">
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title">Billing Address</h3><!-- End .card-title -->

														<p>User Name<br>
														User Company<br>
														John str<br>
														New York, NY 10001<br>
														1-234-987-6543<br>
														yourmail@mail.com<br>
														<a href="#">Edit <i class="icon-edit"></i></a></p>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->

								    		<div class="col-lg-6">
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

														<p>You have not set up this type of address yet.<br>
														<a href="#">Edit <i class="icon-edit"></i></a></p>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
								    	</div><!-- End .row -->
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<form action="#">
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>First Name *</label>
			                						<input type="text" class="form-control" name="first_name" id="first_name" required>
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Last Name *</label>
			                						<input type="text" class="form-control" name="last_name" id="last_name" required>
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		            						<label>Display Name *</label>
		            						<input type="text" class="form-control" name="display_name" id="display_name" required>
		            						<small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

		                					<label>Email address *</label>
		        							<input type="email" class="form-control" name="email_address" id="email_address" required>

		            						<label>Phone Number(leave blank to leave unchanged)</label>
		            						<input type="password" class="form-control" name="phone_number" id="phone_number" required>



											<div class="row">
			                					<div class="col-sm-6">
			                						<label>State / Region *</label>
			                						<input type="text" class="form-control"name="state_region" id="state_region" required>
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>City</label>
			                						<input type="text" class="form-control" name="city" id="city" required>
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->


		            						<label>Address</label>
		            						<textarea class="form-control" id="contact_address" name="contact_address"></textarea>

		                					<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    </div><!-- .End .tab-pane -->
									<div class="tab-pane fade" id="tab-category" role="tabpanel" aria-labelledby="tab-downloads-link">
										<h4>Add Category</h4>
										<form id="create_category">
											<div class="warpper">
												<div class="panels">
													<div class="row">

														<div class="col-sm-12">
															<div style="text-align:center" class="categoryAddMsg"></div>

															<label for="add_category">Category *</label>
															<input type="text" class="form-control" id="add_category" name="add_category">
														</div>
													  <button type="submit" id="category_submit" class="btn btn-primary btn-round btn-center">Save Category</button>   
												</div>
											</div>
										</form>
								    </div><!-- .End .tab-pane -->
									<div class="tab-pane fade" id="sub-category" role="tabpanel" aria-labelledby="tab-downloads-link">
										<h4>Sub Category</h4>
										<form id="create_sub_category" >
											<div class="warpper">
												<div class="panels">
													<div class="row">
														<div class="col-sm-12">
															<div style="text-align:center;"class="catCreationMsg"></div>

															<label> Category *</label>
															<select class="form-select form-select-lg mb-2 col-sm-12" aria-label=".form-select-lg example" id="category_records" name="category" style="height: 50px;">
																<option value="">Select Category</option>
															  </select>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12">
															<label> Sub Category *</label>
															<input type="text" class="form-control" id="sub_category" name="sub_category">
														</div>
													  <button type="submit" id="sub_cat" class="btn btn-primary btn-round btn-center">Save Sub-Category</button>   
												</div>
											</div>
										</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
    </div><!-- End .page-wrapper -->
    <%-include('../templates/footer')%>
	