<%-include('../templates/dashboard_header')%>
  <div class="container">
    <table id="example" class="table table-hover table-responsive">
      <thead style="background-color:#333;color:white">
          <th>S/N</th>
          <th>IMAGE TITLE</th>
          <th>TOP TITLE</th>
          <th>PRICING</th>
          <th>CATEGORY</th>
          <th>DESCRIPTION</th>
          <th>IMAGE</th>
          <th>STATUS</th>
          <th>ADMIN ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a href="/edit_sideadvert" class="btn btn-primary">Edit<i class="fa fa-pencil"></i></a>
            <a type="button" class="btn btn-danger">Delete</a>    
          </td>
          
        
      </tbody>
    </table> 
  </div>
<%-include('../templates/dashboard_footer')%>